<meta name="pdfjs_viewer_verbosity" content="<%= ENV.fetch("PDFJS_VIEWER_VERBOSITY", "errors") %>">
<title><%= title %></title>

<%= stylesheet_link_tag "pdfjs_viewer/viewer", media: "all" %>
<%= stylesheet_link_tag "pdfjs_viewer/#{local_assigns[:style] || 'full'}", media: "all" %>

<!-- This snippet is used in production (included from viewer.html) -->
<link rel="resource" type="application/l10n" href="<%= asset_path("locale.properties") %>"/>

<script type="text/javascript">
  window.PDFJS = {
    workerSrc: "<%= asset_path("pdfjs_viewer/pdf.worker.js") %>",
    cMapUrl: "/assets/cmaps/",
    imageResourcesPath: "/assets/",
    cMapPacked: true
  };
</script>
<% if local_assigns[:pdf_url] %>
  <script type="text/javascript">
    window.resourceURL = "<%= pdf_url %>";
  </script>
<% end %>

<script src="<%= asset_path("pdfjs_viewer/pdf.js") %>"></script>
<script src="<%= asset_path("pdfjs_viewer/viewer_configurations.js") %>"></script>
<script src="<%= asset_path("pdfjs_viewer/viewer.js") %>"></script>
